# Local Embedded Database (SQLite) for frictionless development
DATABASE_URL="file:./dev.db"

# Production Database (MySQL - uncomment when deploying)
# DATABASE_URL="mysql://username:password@hostname:3306/database_name"

# JWT
JWT_SECRET="impactbridge_secret_key_2026"

# Server
PORT=3000
NODE_ENV=development
